<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_LEVEL" value="${log.level:-INFO}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[%highlight(%-5level) %d{HH:mm:ss.SSS} %green(%logger{36}) %magenta(%replace(%X{module}){'^(.+)$','($1) '}){}%cyan(%replace(%X{platform}){'^(.+)$','<$1> '}){}%yellow(%replace(%X{tag}){'^(.+)$','[$1] '})- %msg%n]]></pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>

</configuration>
